<div class='modal fade' id='count_modal' tabindex='-1' aria-labelledby='count_modal_label' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='count_modal_label'></h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div id='modalbody' class='modal-body'></div>
    </div>
  </div>
</div>
