<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <div class='error-template text-center'>
        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class='error-details'>
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class='error-actions'>
          <a href='/' class='btn btn-primary'>Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
