<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <div class='error-template text-center'>
        <h1>Oops!</h1>
        <h2>Something went wrong</h2>
        <div class='error-details'>
          Sorry, an error has occured.
        </div>
        <div class='error-actions'>
          <a href='/' class='btn btn-outline-dark'>Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
