<% if @players.length.positive? %>
  <%= render partial: 'player', collection: @players, as: :player %>
<% else %>
  <tr class="text-center">
    <td colspan="7">No player found!</td>
  </tr>
<% end %>
